a { text-decoration: none;
}
.links{ color: cornflowerblue;
      font-size: 16px;
     line-height: 20px;
transition: color 0.3s ease-in-out;
}
.links:hover {
color: crimson;
}
.headers {color: #222222;
          font-size: 28px;
          line-height: 36px;
           font-weight: bold;

}
.imaging { border-radius: 10px;
           width: 200px;
           background-color: #9cc255;
           border: #5569c2 4px double;
           transition: scale(1);
           box-shadow:none;
           transition: box-shadow
           600ms, transform 600ms;


 }
 .imaging:hover{
 transform: scale(1.05);
 box-shadow: 15px 15px 5px 10px rgba(0, 0, 0, 0.5);
 transition: box-shadow 600ms, transform 600ms;
 }
.par {font-style: normal;
           	    font-weight: 300;
         	    font-size: 18px;
          	    line-height: 30px;
              color: #7D7987

}
.het {	color: coral;
  	    font-style: normal;
    	font-weight: 700;
   	    font-size: 36px;
     	line-height: 80px;
      }
 .former{  width: 200px;
           height: 30px;
           outline: none;
           border: 1px solid #ccc;
           border-radius: 15px;
           font-size: 14px;
       	    line-height: 30px;

 }
 .ret{ width: 100px;
   	    height: 30px;
        font-size: 14px;
   	    border: 1px solid #ccc;
    	border-radius: 10px;

 }
 .clas{	font-family: sans-serif;
 }
